@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.container {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors {
    text-align: center;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: coLOrchange 5s infinite alternate;
}

.hex-colors h2 {
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes coLOrchange {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: purple;
    }
}

@media(max-width: 480px){
    .hex-colors h1{
        font-size: 1.5em;
    }

    .hex-colors h2{
        font-size: 1.5em;
    }
}
